<div class="panel panel-primary">
    <div class="panel-heading">Advertisment</div>
    <div class="panel-body">
        Ad for $10
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">Advertisment</div>
    <div class="panel-body">
        Ad for $10
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">Advertisment</div>
    <div class="panel-body">
        Ad for $10
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">Advertisment</div>
    <div class="panel-body">
        Ad for $10
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">Advertisment</div>
    <div class="panel-body">
        Ad for $10
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">Advertisment</div>
    <div class="panel-body">
        Ad for $10
    </div>
</div>