<div class="section" data-bind="foreach:SortedTrade">



 
    <div class="pClass">
        <img data-bind="attr:{src: TradeCommenter.Avatar}" src="#"  />

        <article>
            <h1>

                <span data-bind="text: TradeCommenter.FirstName"></span>

            </h1>

            <p class="pClass">

                <span data-bind="text: Comment"></span>

            </p>

        </article>

    </div>
  
</div>
