@*<div class="col-xs-2">

</div>
<div class="col-xs-9">

</div>
<div class="col-xs-1">
  
</div>*@

<button class="btn btn-primary btn-xs" data-bind="click: $root.SendMessage.bind($data, $root) ">
    <i class="fa fa-envelope  bigger-110 icon-only"></i>
</button>