<link rel="stylesheet" href="@Url.Content("~/Content/Assets/css/dropzone.css")" />
<link rel="stylesheet" href="@Url.Content("~/Content/Assets/css/dropzone-ace.css")" />
<div class="row">
    <div class="col-xs-12">
        <div id="dropzone">
            <form class="dropzone" method="POST" enctype="multipart/form-data" data-bind="attr:{action:UploadUrl()}">
                <div class="fallback">
                    <input id="uploadFile" name="file" type="file" multiple="" />
                </div>
            </form>
        </div>
    </div>
</div>
<script src="@Url.Content("~/Scripts/dropzone.min.js")" type="text/javascript"></script>
