@Styles.Render("~/Content/dropzone")
<div class="row">
    <div class="col-xs-12">
        <div id="dropzone">

            <form action="#" class="dropzone" id="myFormDropzone"></form>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/dropzone")

