
    <span class="label-holder">
        <!-- ko if: $index() == 0 -->
        <span class="label label-info" data-bind="text:$data"></span>
        <!-- /ko -->
        <!-- ko if: $index() == 1 -->
        <span class="label label-danger" data-bind="text:$data"></span>
        <!-- /ko -->
        <!-- ko if: $index() == 2 -->
        <span class="label label-success" data-bind="text:$data"></span>
        <!-- /ko -->
        <!-- ko if: $index() == 3 -->
        <span class="label label-warning" data-bind="text:$data"></span>
        <!-- /ko -->
        <!-- ko if: $index() == 4 -->
        <span class="label label-info arrowed-in" data-bind="text:$data"></span>
        <!-- /ko -->
        <!-- ko if: $index() == 5 -->
        <span class="label label-danger arrowed-in" data-bind="text:$data"></span>
        <!-- /ko -->
        <!-- ko if: $index() == 6 -->
        <span class="label label-success arrowed-in" data-bind="text:$data"></span>
        <!-- /ko -->
        <!-- ko if: $index() == 7 -->
        <span class="label label-warning arrowed-in" data-bind="text:$data"></span>
        <!-- /ko -->
        <!-- ko if: $index() == 8 -->
        <span class="label label-info arrowed-in-right" data-bind="text:$data"></span>
        <!-- /ko -->
    </span>

