<div>
    <ul class="row list-ul" data-bind="foreach: ItemCommented">
        <li class="row list-li">
            <div class="col-xs-2">
                <div class="img imgComment"><img data-bind="attr:{src: $parent.Owner.Avatar}" src="/Content/Assets/Images/avatar.jpg" /></div>
            </div>
            <div class="col-xs-10 txtComment">
                <span data-bind="text:Comment"></span>
            </div>
        </li>
    </ul>
</div>
