<div data-bind="foreach: $parent.SelectedItem" class="modal fade" id="myItemTradeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myImageModalLabel"><span data-bind="text:Name"></span></h4>
            </div>
            <div class="modal-body">
                @Html.Partial("_ItemDragPartial")

            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>
