<link rel="stylesheet" href="@Url.Content("~/Content/Styles/Profile/Message.css")" />
<div class="body" id="messageInbox">
    <div class="modal fade" id="myMessageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myImageModalLabel">Compose</h4>
                </div>
                <div class="modal-body">

                    @Html.Partial("_ComposePartial")

                </div>
                <div class="modal-footer">
                    @Html.Partial("_ComposeFooterPartial")
                </div>
            </div>
        </div>
    </div>
    <aside id="sidebar" class="nano">
        <div class="nano-content">
            <div class="logo-container"><span class="logo fa fa-envelope"></span>Mail</div><a data-toggle="modal" data-target="#myMessageModal" class="a compose-button">Compose</a>
            <menu class="menu-segment">
                <ul>
                    <li class="active"><a class="a" href="#">Inbox <span data-bind="text:MessageCount"> </span></a></li>

                </ul>
            </menu>

            <div class="separator"></div>

            <div class="bottom-padding"></div>
        </div>
    </aside>
    <main id="main">
        <div class="overlay"></div>
        <header class="headers">
            <div class="search-box">
                <input placeholder="Search..."><span class="icon fa fa-search"></span>
            </div>
            <h1 class="page-title h1"><a class="sidebar-toggle-btn trigger-toggle-sidebar"><span class="line"></span><span class="line"></span><span class="line"></span><span class="line line-angle1"></span><span class="line line-angle2"></span></a>Inbox<a></a></h1>
        </header>
        <div class="action-bar">
            <ul>
                <li><a class="icons circle-icon action-icon fa fa-chevron-down"></a></li>
                <li><a class="icons circle-icon action-icon fa fa-refresh"></a></li>

            </ul>
        </div>
        <div id="main-nano-wrapper" class="nano">
            <div class="nano-content">
                <ul class="message-lists" data-bind="foreach: Message">
                    <li class="unread">
                        <a data-bind="click: $root.ShowMessage.bind($data, $parent)">
                            <div class="col col-1">
                                <span class="dot"></span>
                                <div class="checkbox-wrapper">
                                    <input type="checkbox" id="chk1">
                                    <label for="chk1" class="toggle"></label>
                                </div>
                                <p class="p title"><span data-bind="text:Subject"></span></p><span class="star-toggle fa fa-star-empty"></span>
                            </div>
                            <div class="col col-2">
                                <div class="subject"><span data-bind="text:Sender.FirstName"></span> has sent you a direct message! &nbsp;&ndash;&nbsp; <span class="teaser"><span data-bind="text:Body"></span></span></div>
                                <div class="date"><span data-bind="text:Time"></span></div>
                            </div>
                        </a>
                    </li>

                </ul><a href="#" class="a load-more-link">Show more messages</a>
            </div>
        </div>
    </main>
    <div class="inboxMsg">
        <div id="message" data-bind="foreach: $root.SelectedItem">
            <div class="headers">
                <h1 class="page-title h1">

                    <span data-bind="text:Subject"></span><span class="grey"></span>
                </h1>
                <p>From <a class="b" href="#">You</a> to <a class="b" href="#"><span data-bind="text:Sender.FirstName"></span></a> <a class="b" href="#"></a> </p>
            </div>
            <div id="message-nano-wrapper" class="nano">
                <div class="nano-content">
                    <ul class="message-container">
                        <li class="sent">
                            <div class="details">
                                <div class="left">
                                    You
                                    <div class="arrow"></div><span data-bind="text:Sender.FirstName"></span>
                                </div>
                                <div class="right"><span data-bind="text:DateSent"></span></div>
                            </div>
                            <div class="message">
                                <p><span data-bind="text:Body"></span></p>
                            </div>
                            <div class="tool-box">
                                <a href="#" class="b circle-icon small red-hover fa fa-reply a compose-button" data-toggle="modal" data-target="#myMessageModal" data-bind="click: $root.SelectedMessage.bind($data, $parent)"></a>

                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="@Url.Content("~/Scripts/Profile/Message.js")" type="text/javascript"></script>
