@Styles.Render("~/Content/ProfileBar")
<div id="profileBarDiv" data-bind="foreach: Bar">
    <div class="face">
        <div class="img-circle">
            <img class="img-circle" data-bind="attr:{src: Avatar}" />
        </div>
    </div>
    <div class="box radius-round-bottom">
        <div class="box-name">
            <div class="row">
                <div class="col-xs-4"></div>
                <div class="col-xs-8 margin-5"><span data-bind="text: FirstName"></span></div>
            </div>
        </div>
        <div class="stat-stat">
            <div class="col-xs-4 box-stat center radius-round-bottom" data-bind="click:  $parent.likeUser"><i class="fa icon-2xx fa-heart redLike"><span class="box-stat-icon-text" data-bind="text:UserFollowerUsers.length">0</span></i></div>
            <div class="col-xs-4 box-stat center radius-round-bottom"><i class="fa icon-2xx fa-comments"><span class="box-stat-icon-text" data-bind="text:UserCommenter.length">0</span></i></div>

            <div class="col-xs-4 box-stat center radius-round-bottom"><i class="fa icon-2xx fa-bullseye"><span class="box-stat-icon-text">0</span></i></div>
        </div>
    </div>
    <script>
        jQuery(document).ready(function ($) {
            profileBar.ViewUser("@ViewBag.UserId");
        });
    </script>
</div>
@Scripts.Render("~/bundles/profilebar")