<link rel="stylesheet" href="@Url.Content("~/Content/Styles/Profile/ProfileBar.css")" />
<div id="profileBarDiv" data-bind="foreach: Bar">
    <div class="face">
        <div class="img-circle">
            <img class="img-circle" data-bind="attr:{src: Avatar}" />
        </div>
    </div>
    <div class="box radius-round-bottom">
        <div class="box-name">
            <div class="row">
                <div class="col-xs-4"></div>
                <div class="col-xs-8 margin-5"><span data-bind="text: FirstName"></span></div>
            </div>
        </div>
        <div class="stat-stat">
            <div class="col-xs-4 box-stat center radius-round-bottom"><i class="icon-2xx icon-bullseye"><span class="box-stat-icon-text">0</span></i></div>
            <div class="col-xs-4 box-stat center radius-round-bottom"><i class="icon-2xx icon-comments"><span class="box-stat-icon-text">0</span></i></div>
            <div class="col-xs-4 box-stat center radius-round-bottom"><i class="icon-2xx icon-heart "><span class="box-stat-icon-text">0</span></i></div>
        </div>
    </div>
</div>

<script src="@Url.Content("~/Scripts/Profile/ProfileBar.js")" type="text/javascript"></script>
