@Styles.Render("~/Content/Statistics")
<div class="stat-div radius-round-bottom">
    <img class="stat-img" src="~/Content/Assets/images/stat.png" />
    <div class="stat-border">
        <div class="col-xs-4 theRed stat-divider"></div>
        <div class="col-xs-4 theYellow stat-divider"></div>
        <div class="col-xs-4 theGreen stat-divider"></div>
    </div>
    <div class="stat-stat">
        <div class="col-xs-4 box-stat center radius-round-bottom">SUCCESS<br /><span class="stat-percentage">0%</span></div>
        <div class="col-xs-4 box-stat center radius-round-bottom">FAIL<br /><span class="stat-percentage">0%</span></div>
        <div class="col-xs-4 box-stat center radius-round-bottom">PENDING<br /><span class="stat-percentage">0%</span></div>

    </div>
</div>
