
<style>
    .containers {
        width: 100%;
        /*margin: 0 37.5%;
        margin-top: 50px;*/
        /*height: 235px;*/
    }

    .profile {
        /*display: block;
        width: 100%;
        height: 235px;
        border-radius: 5px;
        background: #fff;
        box-shadow: 0 2px 10px rgba(0,0,0,.25);
        padding: 20px;
        text-align: center;
        box-sizing: border-box;
        -webkit-transition: all .25s;
        -moz-transition: all .25s;*/
    }

    .pic {
        display: block;
        width: 80px;
        height: 80px;
        border-radius: 80px;
        background: rgba(101,132,124,.5);
        border: 6px solid #b1a598;
        margin: auto;
        z-index: 10;
        overflow: hidden;
        text-align: right;
        cursor: pointer;
        -webkit-transition: all .35s ease-out;
        -moz-transition: all .25s;
    }

    .img {
        background: #b1a598;
        width: 70px;
        height: 70px;
        border-radius: 70px;
        overflow: hidden;
        box-shadow: 0 0 10px rgba(0,0,0,.6);
        z-index: 10;
    }

    img {
        width: 100%;
        height: 100%;
    }

    h4 {
        margin: 30px 0 0 0;
        font-size: 18px;
        color: #66847C;
        text-shadow: 0 2px 5px rgba(0,0,0,.15);
    }

    p {
        margin-top: 5px;
        font-size: 14px;
        color: rgba(101,132,124,.7);
    }

    .icon-plus {
        float: right;
        font-size: 25px;
        text-shadow: 0 2px 5px rgba(0,0,0,.5);
        position: relative;
        top: -60px;
        right: -25px;
        color: #fff;
        opacity: 0;
        z-index: 1;
        -webkit-transition: all .25s;
        -moz-transition: all .25s;
    }

    .pro:hover > .pic {
        width: 150px;
    }

    .pic:hover {
        background: rgba(101,132,124,.65);
    }

        .pic:hover > .icon-ok {
            right: -5px;
        }

    .pic.active > .icon-ok {
        opacity: 1;
        color: #66847C;
    }

    .pro:hover > .pic .icon-plus {
        opacity: 1;
        right: 15px;
    }

    .pic.active > .icon-plus {
        left: 1000px;
    }

    .icon-ok {
        float: right;
        font-size: 25px;
        text-shadow: 0 -1px 1px rgba(0,0,0,.6), 0 1px 1px rgba(255,255,255,.15);
        position: relative;
        top: -60px;
        right: -50px;
        color: #66847C;
        opacity: 0;
        z-index: 1;
        -webkit-transition: all .2s;
        -moz-transition: all .25s;
    }
</style>

<div class="containers">
    <div class="profile">
        <div class="pro col-sm-6">
            <div class="pic">
                <div class="img"><img src="/Content/Assets/Images/avatar.jpg" /></div>
                <i class="icon-plus"></i>
                <i class="icon-ok"></i>
            </div>
        </div>
        <div class="pro col-sm-6">
            <div class="pic">
                <div class="img"><img src="/Content/Assets/Images/avatar.jpg" /></div>
                <i class="icon-plus"></i>
                <i class="icon-ok"></i>
            </div>
        </div>
        @*<h4>Profile Name</h4>
            <p>A short description or title</p>*@
    </div>
</div>
