<link rel="stylesheet" href="@Url.Content("~/Content/Styles/Profile/Users.css")" />
<div id="usersDiv">
    <div class="circleProfile" >
        <div class="users-info-text">
            <div class="col-xs-6 users-item-left ">
                <span class="users-followers">Followers</span>
            </div>
            <div class="col-xs-6 users-item-right ">
                <button type="submit" class="btn btn-primary btn-sm btn-block"><i class="icon-group"></i>See all</button>
            </div>
        </div>
        <div class="users-divider"></div>
        <div class="containers">
            <div class="profile" data-bind="foreach: Followers">
                <div class="pro col-sm-6">
                    <div class="pic">
                        <div class="img"><img data-bind="attr:{src: Follower.Avatar}" src="/Content/Assets/Images/avatar.jpg" /></div>
                  
                        <i class="icon-plus"><span data-bind="text: Category.FirstName"></span></i>
                    
                    </div>
                </div>
           
            </div>
        </div>

    </div>
    <div class="dividerUser"></div>
  
    <div class="circleProfile">
        <div class="users-info-text">
            <div class="col-xs-6 users-item-left ">
                <span class="users-followers">Following</span>
            </div>

            <div class="col-xs-6 users-item-right ">
                <button type="submit" class="btn btn-primary btn-sm btn-block"><i class="icon-group"></i>See all</button>
            </div>
        </div>
        <div class="users-divider "></div>
        <div class="containers">
            <div class="profile" data-bind="foreach: Following">
                <div class="pro col-sm-6">
                    <div class="pic">
                        <div class="img"><img data-bind="attr:{src: Following.Avatar}" src="/Content/Assets/Images/avatar.jpg" /></div>

                        <i class="icon-plus"><span data-bind="text: Following.FirstName"></span></i>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dividerUser"></div>
</div>

<script src="@Url.Content("~/Scripts/Profile/Users.js")" type="text/javascript"></script>
