
<link href="~/Content/Styles/Home/default.css" rel="stylesheet" />
<link href="~/Content/Styles/Home/component.css" rel="stylesheet" />
<link href="~/Content/Styles/Home/TradeItems.css" rel="stylesheet" />
<script src="~/Scripts/modernizr.custom.js"></script>

<div class="container">
    
    <ul class="grid effect-2" id="grid" data-bind="foreach: Items">
        <!-- ko if: $root.MessageCount != null -->
        <!-- ko if: $root.Type() == "Following" -->
        <li >

            <div class="widget" data-bind="click: $root.SelectedUser">
                <div class="cover">

                    <img src="~/Content/Assets/images/userBg.jpg" />
                </div>

                <h1><span data-bind="text: FollowedUser.FirstName"></span></h1>
                @*<h2><span data-bind="text: FollowedUser.Birthdate"></span></h2>*@
                <img data-bind="attr:{src: FollowedUser.Avatar}" src="~/Content/Assets/images/avatar.jpg" class="userList" />

                <div class="stat-stat">
                    <div class="col-xs-4 box-stat box-stat-first center radius-round-bottom"><i class="icon-2xx icon-bullseye"><span class="box-stat-icon-text">0</span></i></div>
                    <div class="col-xs-4 box-stat center radius-round-bottom"><i class="icon-2xx icon-comments"><span class="box-stat-icon-text" @*data-bind="text:UserCommenter.length"*@>0</span></i></div>
                    <div class="col-xs-4 box-stat center radius-round-bottom " @*data-bind="click:  $parent.likeUser"*@><i class="icon-2xx icon-heart "><span class="box-stat-icon-text" @*data-bind="text:UserFollowerUsers.length"*@>0</span></i></div>
                </div>

            </div>

        </li>
        <!-- /ko -->

        <!-- ko if: $root.Type() == "Follower" -->
        <li>

            <div class="widget" data-bind="click: $root.SelectedUser">
                <div class="cover">

                    <img src="~/Content/Assets/images/userBg.jpg" />
                </div>

                <h1><span data-bind="text: Follower.FirstName"></span></h1>
                @*<h2><span data-bind="text: Follower.Birthdate"></span></h2>*@
                <img data-bind="attr:{src: Follower.Avatar}" src="~/Content/Assets/images/avatar.jpg" class="userList" />

                <div class="stat-stat">
                    <div class="col-xs-4 box-stat box-stat-first center radius-round-bottom"><i class="icon-2xx icon-bullseye"><span class="box-stat-icon-text">0</span></i></div>
                    <div class="col-xs-4 box-stat center radius-round-bottom"><i class="icon-2xx icon-comments"><span class="box-stat-icon-text" @*data-bind="text:UserCommenter.length"*@>0</span></i></div>
                    <div class="col-xs-4 box-stat center radius-round-bottom " @*data-bind="click:  $parent.likeUser"*@><i class="icon-2xx icon-heart "><span class="box-stat-icon-text" @*data-bind="text:UserFollowerUsers.length"*@>0</span></i></div>
                </div>

            </div>

        </li>
        <!-- /ko -->


        <!-- /ko -->
</ul>
</div>
<script src="~/Scripts/Profile/UserList.js"></script>
<script src="~/Scripts/masonry.pkgd.min.js"></script>
<script src="~/Scripts/imagesloaded.js"></script>
<script src="~/Scripts/classie.js"></script>


<script src="~/Scripts/AnimOnScroll.js"></script>
<script>
    setTimeout(function () {
        var scroll = new AnimOnScroll(document.getElementById('grid'), {
            minDuration: 0.4,
            maxDuration: 0.7,
            viewportFactor: 0.2
        });
    }, 2500);
</script>