<link rel="stylesheet" href="@Url.Content("~/Content/Styles/Profile/Users.css")" />
<div class="users-info-text">
    <div class="col-xs-6 users-item-left ">
        <span class="users-followers">Followers</span>
    </div>

    <div class="col-xs-6 users-item-right ">
        <button type="submit" class="btn btn-primary btn-sm btn-block"><i class="icon-group"></i>See all</button>
    </div>
</div>
<div class="users-divider"></div>
<div class="row users-box">
    <div class="col-xs-6">
        <div class="users-div ">

            <div class="col-xs-5 left users-item users-item-left radius-round-bottom-left ">
                <div class="users-face">
                    <div class="img-circle">
                        <img class="img-circle" data-bind="attr:{src: Profile.Avatar}" src="/Content/Assets/images/avatar.jpg" />
                    </div>
                </div>
            </div>
            <div class="col-xs-7 users-item  users-item-right radius-round-bottom-right">
                <span class="users-div-text-top">MANUEL</span>
                <div class="hr-2"></div>
                <span class="users-div-text-bottom">1230+ Followers</span>
            </div>
        </div>
    </div>

    <div class="col-xs-6">
        <div class="users-div ">

            <div class="col-xs-5 left users-item users-item-left radius-round-bottom-left ">
                <div class="users-face">
                    <div class="img-circle">
                        <img class="img-circle" data-bind="attr:{src: Profile.Avatar}" src="/Content/Assets/images/avatar.jpg" />
                    </div>
                </div>
            </div>
            <div class="col-xs-7 users-item users-item-right radius-round-bottom-right">
                <span class="users-div-text-top">MANUEL</span>
                <div class="hr-2"></div>
                <span class="users-div-text-bottom">1230+ Followers</span>
            </div>
        </div>
    </div>



</div>

<div class="users-divider-medium"></div>
<div class="users-info-text">
    <div class="col-xs-6 users-item-left ">
        <span class="users-followers">Following</span>
    </div>

    <div class="col-xs-6 users-item-right ">
        <button type="submit" class="btn btn-primary btn-sm btn-block"><i class="icon-group"></i>See all</button>
    </div>
</div>
<div class="users-divider"></div>
<div class="row users-box">
    <div class="col-xs-6">
        <div class="users-div ">

            <div class="col-xs-5 left users-item users-item-left radius-round-bottom-left ">
                <div class="users-face">
                    <div class="img-circle">
                        <img class="img-circle" data-bind="attr:{src: Profile.Avatar}" src="/Content/Assets/images/avatar.jpg" />
                    </div>
                </div>
            </div>
            <div class="col-xs-7 users-item  users-item-right radius-round-bottom-right">
                <span class="users-div-text-top">MANUEL</span>
                <div class="hr-2"></div>
                <span class="users-div-text-bottom">1230+ Followers</span>
            </div>
        </div>
    </div>

    <div class="col-xs-6">
        <div class="users-div ">

            <div class="col-xs-5 left users-item users-item-left radius-round-bottom-left ">
                <div class="users-face">
                    <div class="img-circle">
                        <img class="img-circle" data-bind="attr:{src: Profile.Avatar}" src="/Content/Assets/images/avatar.jpg" />
                    </div>
                </div>
            </div>
            <div class="col-xs-7 users-item users-item-right radius-round-bottom-right">
                <span class="users-div-text-top">MANUEL</span>
                <div class="hr-2"></div>
                <span class="users-div-text-bottom">1230+ Followers</span>
            </div>
        </div>
    </div>
</div>

