<link rel="stylesheet" href="@Url.Content("~/Content/Styles/Profile/Wall.css")" />
<div id="wallDiv" data-bind="foreach: Info">

    <div class="row">
        <div class="col-xs-12">
            <section id="timeline">
                <article>
                    <div class="inner">
                        <span class="date text-center">
                            <i class="icon-2x icon-bullseye"></i>
                        </span>
                        <h2>The Title</h2>
                        <img src="~/Content/Assets/images/test.jpg" />

                    </div>
                </article>
                <article>
                    <div class="inner">

                        <span class="date text-center">

                            <i class="icon-2x icon-picture"></i>
                        </span>
                        <h2>The Title</h2>
                        <img src="~/Content/Assets/images/test2.jpg" />

                    </div>

                </article>
                <article>
                    <div class="inner">
                        <span class="date text-center">
                            <i class="icon-2x icon-archive"></i>
                        </span>
                        <h2>The Title</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis rutrum nunc, eget dictum massa. Nam faucibus felis nec augue adipiscing, eget commodo libero mattis.</p>
                    </div>
                </article>
                <article>
                    <div class="inner">
                        <span class="date text-center">
                            <i class="icon-2x icon-film"></i>
                        </span>
                        <h2>The Title</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis rutrum nunc, eget dictum massa. Nam faucibus felis nec augue adipiscing, eget commodo libero mattis.</p>
                    </div>
                </article>
                <article>
                    <div class="inner">
                        <span class="date text-center">
                            <i class="icon-2x icon-music"></i>
                        </span>
                        <h2>The Title</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis rutrum nunc, eget dictum massa. Nam faucibus felis nec augue adipiscing, eget commodo libero mattis.</p>
                    </div>
                </article>
            </section>
        </div>
    </div>


</div>

<script src="@Url.Content("~/Scripts/Profile/Wall.js")" type="text/javascript"></script>


