
<link href="~/Content/Styles/Home/default.css" rel="stylesheet" />
<link href="~/Content/Styles/Home/component.css" rel="stylesheet" />
<link href="~/Content/Styles/Profile/BidItems.css" rel="stylesheet" />
<script src="~/Scripts/modernizr.custom.js"></script>



<div id="bidContainer" class="containerBid">

    <div class="col-lg-9">

        <ul class="grid effect-2" id="grid" data-bind="foreach: Items">


            <li>
                <div class="widget">

                    <div class="cover">
                        <a class="modal-link" href="Home/UserImage/1" data-bind="click: $root.SelectedImage.bind($data, $parent)">
                            <img src="~/Content/Assets/images/avatar.jpg" />
                        </a>
                    </div>
                    <img data-bind="attr:{src: Buyer.Avatar},click: $root.SelectedUser.bind($data, $parent)" src="~/Content/Assets/images/avatar.jpg" class="userList" />
                    <h1><span data-bind="text:Buyer.FirstName"></span></h1>




                    <div class="stat-stat">
                        <div class="col-xs-4 box-stat box-stat-first center radius-round-bottom"><i class="fa icon-2xx fa-heart "><span class="box-stat-icon-text">0</span></i></div>
                        <div class="col-xs-4 box-stat center radius-round-bottom"><i class="fa icon-2xx fa-comments"><span class="box-stat-icon-text">0</span></i></div>
                        <div class="col-xs-4 box-stat center radius-round-bottom"><i class="fa icon-2xx fa-share-alt"><span class="box-stat-icon-text"></span></i></div>
                    </div>

                </div>

            </li>

           
        </ul>

    </div>
    <div class="col-lg-3 ad-top">
        @Html.Partial("_AdPartial")
    </div>
</div>
<script src="~/Scripts/Profile/BidItems.js"></script>



<script src="~/Scripts/masonry.pkgd.min.js"></script>
<script src="~/Scripts/imagesloaded.js"></script>
<script src="~/Scripts/classie.js"></script>


<script src="~/Scripts/AnimOnScroll.js"></script>


