
<link href="~/Content/Styles/Home/default.css" rel="stylesheet" />
<link href="~/Content/Styles/Home/component.css" rel="stylesheet" />
<link href="~/Content/Styles/Profile/BidItems.css" rel="stylesheet" />
<script src="~/Scripts/modernizr.custom.js"></script>


<span id="ItemId" data-text="@ViewBag.ItemId"></span>
<div id="bidContainer" class="containerBid">

    <div class="col-lg-9">

        <ul class="grid effect-2" id="grid" data-bind="foreach: Items">


            <li>
                <div class="widget">

                    <div class="cover">
                        <a data-bind="attr: { 'href': '@Url.Action("Exchange", "Profile")/' + Id }">
                            <img src="~/Content/Assets/images/avatar.jpg" />
                        </a>
                    </div>
                    <img data-bind="attr:{src: Buyer.Avatar},click: $root.SelectedUser.bind($data, $parent)" src="~/Content/Assets/images/avatar.jpg" class="userList" />
                    <h5><span data-bind="text:Buyer.FirstName"></span></h5>
                  
                    <div class="commentBid"></div>

                </div>

            </li>

           
        </ul>

    </div>
    <div class="col-lg-3 ad-top">
        @Html.Partial("_AdPartial")
    </div>
</div>
<script src="~/Scripts/Profile/BidItems.js"></script>



<script src="~/Scripts/masonry.pkgd.min.js"></script>
<script src="~/Scripts/imagesloaded.js"></script>
<script src="~/Scripts/classie.js"></script>


<script src="~/Scripts/AnimOnScroll.js"></script>


