@{
    ViewBag.Title = "Dashboard";
}

<link rel="stylesheet" href="@Url.Content("~/Content/Styles/Profile/Dashboard.css")" />


<div class="main-container container" id="main-container">
  

    <div class="main-container-inner">

        <div class="main-content">
            <!-- .main-content -->
            <div class="row">
                <div class="col-md-4">
                    
                    @Html.Partial("_ProfileBarPartial")
                    <div class="hr32"></div>
                    @Html.Partial("_StatisticsPartial")
                </div>
                <div class="col-md-4">

                </div>
                <div class="col-md-4">

                </div>

            </div><!-- /.main-content -->
        </div>
    </div>
</div>
