<link href="~/Content/Styles/Profile/Exchange.css" rel="stylesheet" />
<link href="~/Content/Chart.css" rel="stylesheet" />
<span id="currentItem" data-text="@ViewBag.ItemId"></span>
<div id="panelContainer" class="container">
    <div class="col-xs-3">
        <div class="itemSelected" data-bind="foreach:Trade">

            <div class="widget">

                <div class="cover">
                    <img src="~/Content/Assets/images/userBg.jpg" />
                </div>

                <h1><span data-bind="text: Buyer.FirstName">Manuel Henry</span></h1>

                <img data-bind="attr:{src: Buyer.Avatar}" src="~/Content/Assets/images/avatar.jpg" class="userList" />


                <div class="stat-stat">
                    <div class="col-xs-4 box-stat box-stat-first center radius-round-bottom"><i class="fa icon-2xx fa-bullseye"><span class="box-stat-icon-text">0</span></i></div>
                    <div class="col-xs-4 box-stat center radius-round-bottom"><i class="fa icon-2xx fa-comments"><span class="box-stat-icon-text" @*data-bind="text:UserCommenter.length"*@>0</span></i></div>
                    <div class="col-xs-4 box-stat center radius-round-bottom " @*data-bind="click:  $parent.likeUser"*@><i class="fa icon-2xx fa-heart "><span class="box-stat-icon-text" @*data-bind="text:UserFollowerUsers.length"*@>0</span></i></div>
                </div>

            </div>

        </div>

        <div class="serviceBox curyBottom">

            <div class="main">
                <div class="info">
                    <div class="view">

                        <i class="prev fa faIcon fa-chevron-left"></i>
                        <i class="next fa faIcon fa-chevron-right"></i>
                        <div class="holder">
                            <div class="slide">
                                <canvas id='day' width='150'></canvas>
                                @*<div class="stats">
                                        <h1 class="good">7.25</h1>
                                        <h2 class="good">103.0%</h2>
                                        <p>Today</p>
                                    </div>*@
                            </div>
                            <div class="slide">
                                <canvas id='week' width='150'></canvas>
                                @*<div class="stats">
                                        <h1 class="bad">7.25</h1>
                                        <h2 class="bad">20.7%</h2>
                                        <p>This Week</p>
                                    </div>*@
                            </div>
                            <div class="slide">
                                <canvas id='month' width='150'></canvas>
                                @*<div class="stats">
                                        <h1 class="bad">49.71</h1>
                                        <h2 class="bad">35.5%</h2>
                                        <p>This Month</p>
                                    </div>*@
                            </div>
                        </div>
                    </div>
                </div>
                <canvas height='272' id='weekView'></canvas>

            </div>
        </div>
    </div>
    <div class="col-xs-9">
        <div class="widget-box">
            <div class="widget-header">
                <h5 class="widget-title smaller">Exchange Box</h5>

                <div class="widget-toolbar">
                    <span class="badge badge-danger" data-bind="text: $root.Status">Pending</span>
                </div>
            </div>

            <div class="widget-body">
                <div class="widget-main padding-6">
                    <div class="row rowTradeLeft">
                        <div class="col-xs-6">
                            <div class="widget-box">
                                <div class="widget-header widget-header-small">
                                    <h5 class="widget-title lighter">Your Item</h5>
                                </div>
                                <div class="widget-body">
                                    <div class="widget-main" data-bind="foreach: Trade">
                                        <div class="">
                                            <span>
                                                <!-- ko foreach:Item.ItemImages  -->
                                                <!-- ko if: $index() < 1 -->
                                                <img class="itemimg" data-toggle="modal" data-target="#myImageModal" data-bind="attr:{src: Path}" src="~/Content/Assets/images/avatar.jpg" />

                                                <!-- /ko -->
                                                <!-- /ko -->
                                                &nbsp;<span class="bigger-150" data-bind="text: Item.Name"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="widget-box">
                                <div class="widget-header widget-header-small">
                                    <h5 class="widget-title lighter"></h5>
                                </div>

                                <div class="widget-body commentBox">
                                    <div class="widget-main">
                                        <div class="section">

                                            <div id="comments">
                                                <div class="section" data-bind="foreach:SortedTrade">




                                                    <div class="pClass">
                                                        <img data-bind="attr:{src: TradeCommenter.Avatar}" src="http://www.codepen.kamilczujowski.de/images/person1.jpg" alt="© Kamil Czujowski" />

                                                        <article>
                                                            <h1>

                                                                <span data-bind="text: TradeCommenter.FirstName"></span>

                                                            </h1>

                                                            <p>

                                                                <span data-bind="text: Comment"></span>

                                                            </p>
                                                        </article>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-box">
                                <div class="widget-header widget-header-small">
                                    <h5 class="widget-title lighter">Comment</h5>
                                </div>

                                <div class="widget-body">
                                    <div class="widget-main">
                                        <form class="form-search" data-bind="foreach: Selected">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control search-query" data-bind="value:CommentText " placeholder="Write your comment" />
                                                        <span class="input-group-btn">
                                                            <button type="button" class="btn btn-purple btn-sm" data-bind="click: $root.TradeCommentPost.bind($data, $parent)">
                                                                <i class=" ace-icon fa fa-comments icon-on-right bigger-110">
                                                                </i>
                                                            </button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="rowTradeRight">

                                <div class="widget-box">
                                    <div class="widget-header widget-header-small">
                                        <h5 class="widget-title lighter">Bidder(s) Item</h5>
                                    </div>

                                    <div class="widget-body">
                                        <div class="widget-main">


                                            <div data-bind="foreach: BuyersItem">

                                                <!-- ko foreach:Trades -->
                                                <!-- ko foreach:Item.ItemImages  -->
                                                <!-- ko if: $index() < 1 -->
                                                <img class="buyerImg imgborder" data-bind="attr:{src: Path}" />
                                                <!-- /ko -->
                                                <!-- /ko -->
                                                <!-- /ko -->
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
            </div>


        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="align-right">
                    <div class="btn-group align-left">
                        <button class="status btn btn-info btn-white" data-bind="click: $root.ChangeStatus.bind($data, null)"><span data-bind="text: $root.Status"></span></button>

                        <button data-toggle="dropdown" class="btn btn-info btn-white dropdown-toggle">
                            <span class="ace-icon fa fa-caret-down icon-only"></span>
                        </button>

                        <ul id="status" class="dropdown-menu dropdown-info dropdown-menu-right">
                            <li>
                                <a href="#">Approve</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">Reject</a>
                            </li>
                        </ul>
                    </div><!-- /.btn-group -->
                </div>
            </div>
        </div>
    </div>
</div>

<script src="@Url.Content("~/Scripts/jquery-ui.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Profile/Chart.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Profile/Exchange.js")" type="text/javascript"></script>
