<div class="main-container container" id="main-container">
    <div class="main-container-inner">
        <div class="main-content">
            <!-- .main-content -->
            <div class="row">
                <div class="col-md-12">
                    @Html.Partial("_NotificationPartial")
                </div>
            </div>
        </div>
    </div>
</div>