body {
    background: #3c3c3c;
}

#panelContainer {
    margin: auto;
    position: relative;
    padding-top: 50px;
    display:none;
}

.containers {
    width: 80%;
    margin: auto;
    min-width: 1100px;
    max-width: 1300px;
    position: relative;
    margin-top: 10px;
}

@media (min-width: 750px) and (max-width: 970px) {
    .containers {
        width: 100%;
        min-width: 750px;
    }
}

.curyBottom {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.box-stat {
    background: #f6f1ed;
    height: 100%;
    border-left: solid 1px #FFFFFF;
    padding: 5px;
}

.box-stat-first {
    border-left: solid 1px #f5f0ec;
}

.box-stat-icon-text {
    font-size: 14px;
    padding: 5px;
}

.box-div-stat {
    margin-bottom: 0px;
}

.box-name {
    height: 95px;
    font-size: 20px;
    padding: 10px;
}

.box-name-text {
    color: #b1a598;
}


.stat-divider {
    height: 4px;
}

.stat-stat {
    background-color: #f5f0ec;
    height: 30px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.stat-percentage {
    font-size: 32px;
}

.stat-img {
    width: 100%;
    height: 108px;
}


.widget {
    position: relative;
    width: 100%;
    /*height: 350px;*/
    margin: auto;
    background: #FFF;
    border-radius: 6px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, .1);
    padding-bottom: 0px;
}

    .widget > .cover {
        /*height: 160px;*/
        overflow: hidden;
    }

        .widget > .cover > img {
            width: 100%;
            height: 170px;
            min-height: 160px;
            border-radius: 6px 6px 0 0;
        }

    .widget > .photo {
        position: absolute;
        top: 85px;
        left: 50%;
        width: 100px;
        height: 100px;
        margin: 0 0 0 -55px;
        border: 3px solid #FFF;
        border-radius: 50%;
    }

    .widget > .imgHidden {
        display: none;
    }

    .widget > .userList {
        position: absolute;
        top: 115px;
        left: 50%;
        width: 100px;
        height: 100px;
        margin: 0 0 0 -55px;
        border: 3px solid #FFF;
        border-radius: 50%;
    }

    .widget:hover .userList {
        display: block;
    }

    .widget > h1, .widget > h2, .widget > h3 {
        display: block;
        margin: 10px 0px;
        text-align: center;
        /*font-family: 'Open Sans', sans-serif;*/
        font-size: 16px;
        font-weight: 300;
        color: #999;
    }

    .widget > h1 {
        margin: 60px 0 20px;
        font-size: 26px;
        color: #000;
    }

    .widget > h3 {
        font-size: 12px;
    }

    .widget > ul {
        position: absolute;
        top: 20px;
        left: 100%;
        background: #2CDFD3;
        border-radius: 0 3px 3px 0;
    }

        .widget > ul > li > a {
            display: block;
            padding: 5px 6px;
            color: #FFF;
            cursor: pointer;
            text-align: center;
            border-bottom: 1px solid #2CD5CA;
            transition: background-color .3s;
        }

        .widget > ul > li:hover > a {
            background-color: #2CD5CA;
        }

        .widget > ul > li:first-child > a {
            border-radius: 0 3px 0 0;
        }

        .widget > ul > li:last-child > a {
            border: none;
            border-radius: 0 0 3px 0;
        }


.section {
    width: 376px;
    padding-bottom: 18px;
    -webkit-border-radius: 7px 7px 5px 5px;
    -moz-border-radius: 7px 7px 5px 5px;
    -ms-border-radius: 7px 7px 5px 5px;
    -o-border-radius: 7px 7px 5px 5px;
    border-radius: 7px 7px 5px 5px;
    /* @group Poster */
    /* @end */
    /* @group Add Comment */
    /* @end */
    /* @group Comments */
    /* @end */
}

    .section #poster {
        width: 376px;
        height: 258px;
        position: relative;
        border-bottom: 5px solid #e53b39;
    }

        .section #poster img {
            -webkit-border-radius: 5px 5px 0 0;
            -moz-border-radius: 5px 5px 0 0;
            -ms-border-radius: 5px 5px 0 0;
            -o-border-radius: 5px 5px 0 0;
            border-radius: 5px 5px 0 0;
        }

        .section #poster #love {
            width: 54px;
            height: 54px;
            text-decoration: none;
            text-align: center;
            font-size: 20px;
            color: #fff;
            display: inline-block;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            border-radius: 50%;
            border: 2px solid #fff;
            position: absolute;
            top: 27px;
            right: 21px;
            -webkit-transition: background-color 0.3s ease-in-out;
            -moz-transition: background-color 0.3s ease-in-out;
            -ms-transition: background-color 0.3s ease-in-out;
            -o-transition: background-color 0.3s ease-in-out;
            transition: background-color 0.3s ease-in-out;
        }

            .section #poster #love:after {
                content: '♥';
                position: relative;
                top: 14px;
            }

            .section #poster #love:hover, body section #poster #love.act {
                background-color: #e53b39;
            }

    .section #add {
        height: 85px;
        position: relative;
    }

        .section #add p {
            color: #34373c;
            font-size: 30px;
            font-weight: 600;
            position: absolute;
            top: 27px;
            left: 27px;
        }

            .section #add p span {
                font-size: 15px;
                font-weight: 300;
            }

        .section #add #comment {
            width: 125px;
            height: 40px;
            background-color: #1fc19a;
            position: absolute;
            top: 18px;
            right: 20px;
            text-align: center;
            color: #fff;
            font-weight: 500;
            font-size: 16px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            border-radius: 5px;
            -webkit-transition: opacity 0.3s ease-in-out;
            -moz-transition: opacity 0.3s ease-in-out;
            -ms-transition: opacity 0.3s ease-in-out;
            -o-transition: opacity 0.3s ease-in-out;
            transition: opacity 0.3s ease-in-out;
        }

            .section #add #comment:after {
                content: 'Add Comment';
                display: inline-block;
                margin-top: 9px;
            }

            .section #add #comment:hover {
                opacity: .8;
            }

    .section #comments {
        height: 100%;
        max-height: 202px;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
    }

        .section #comments .section {
            max-width: 340px;
            margin: 18px 0 0 18px;
        }

            .section #comments .section img {
                width: 75px;
                height: 75px;
                float: left;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                border-radius: 50%;
                margin: 0 18px 0 0;
            }

            .section #comments .section article {
                max-width: 240px;
                display: inline-block;
                margin-bottom: 18px;
            }

                .section #comments .section article:last-child {
                    margin-bottom: 0;
                }

                .section #comments .section article p {
                    margin-top: 5px;
                    color: #82868f;
                    font-size: 14px;
                }

/* @end */
.pClass {
    min-height: 100px;
}

.itemimg {
    border-radius: 100%;
}

img {
    border: 0;
    vertical-align: middle;
    height: 50px;
    width: 50px;
}

.buyerImg {
    margin-top:5px;
    margin-left:-10px;
    max-height:490px;
    width: 100% !important;
    height: 100% !important;
}

.imgborder{
    border:1px solid #000;
}


.rowTradeRight {
    margin-right: 5px;
    margin-left: -15px;
}

.rowTradeLeft {
    margin-right: -15px;
    margin-left: -10px;
}
