<div class="dropdown">
    <a class=" dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">

        <i class="icon-cog"></i>

    </a>

    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">

        <li>
             @*@Html.ActionLink("<i class='icon-share-alt'></i>Share", "Facebook")*@
            @*<a href='@(Url.Action("Facebook", "Profile", new { data_bind = "value: CourseId" }))'>
                <i class="icon-share-alt"></i>
                Share
            </a>*@
            <a data-bind="attr: { 'href': '@Url.Action("Facebook", "Profile")/' + Id }" class="cssClass">
                <i class="icon-share-alt"></i>
                Share
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a data-bind="click: $root.DeleteItem">
                <i class="icon-remove"></i>
                Delete
            </a>
        </li>
    </ul>
</div>