<div class="dropdown">
    <a class=" dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">

        <i class="icon-cog"></i>

    </a>
@Html.ActionLink("Login with Facebook", "Facebook")
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">

        <li>
            <a data-bind="click: $root.PostFb">
                <i class="icon-share-alt"></i>
                Share
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a data-bind="click: $root.DeleteItem">
                <i class="icon-remove"></i>
                Delete
            </a>
        </li>
    </ul>
</div>