
<link href="~/Content/Styles/Home/default.css" rel="stylesheet" />
<link href="~/Content/Styles/Home/component.css" rel="stylesheet" />
<script src="~/Scripts/modernizr.custom.js"></script>
<div class="container">

    <ul class="grid effect-2" id="grid">
        <li><a href="#"><img src="~/Content/images/1.jpg"></a></li>
        <li><a href="#"><img src="~/Content/images/3.jpg"></a></li>
        <li><a href="#"><img src="~/Content/images/4.jpg"></a></li>
        <li><a href="#"><img src="~/Content/images/12.png"></a></li>
        <li><a href="#"><img src="~/Content/images/13.png"></a></li>
        <li><a href="#"><img src="~/Content/images/10.png"></a></li>
        <li><a href="#"><img src="~/Content/images/9.jpg"></a></li>
        <li><a href="#"><img src="~/Content/images/2.jpg"></a></li>
        <li><a href="#"><img src="~/Content/images/14.png"></a></li>
        <li><a href="#"><img src="~/Content/images/5.jpg"></a></li>
        <li><a href="#"><img src="~/Content/images/6.jpg"></a></li>
        <li><a href="#"><img src="~/Content/images/7.jpg"></a></li>
        <li><a href="#"><img src="~/Content/images/8.jpg"></a></li>
        <li><a href="#"><img src="~/Content/images/9.jpg"></a></li>
        <li><a href="#"><img src="~/Content/images/12.png"></a></li>
        <li><a href="#"><img src="~/Content/images/13.png"></a></li>
        <li><a href="#"><img src="~/Content/images/10.png"></a></li>
        <li><a href="#"><img src="~/Content/images/9.jpg"></a></li>
        <li><a href="#"><img src="~/Content/images/2.jpg"></a></li>
        <li><a href="#"><img src="~/Content/images/14.png"></a></li>
        <li><a href="#"><img src="~/Content/images/5.jpg"></a></li>
        <li><a href="#"><img src="~/Content/images/6.jpg"></a></li>
    </ul>
</div>
<script src="~/Scripts/masonry.pkgd.min.js"></script>
<script src="~/Scripts/imagesloaded.js"></script>
<script src="~/Scripts/classie.js"></script>


<script src="~/Scripts/AnimOnScroll.js"></script>
<script>
    new AnimOnScroll(document.getElementById('grid'), {
        minDuration: 0.4,
        maxDuration: 0.7,
        viewportFactor: 0.2
    });
</script>