<link rel="stylesheet" href="~/Content/Assets/css/nerveSlider.min.css" type="text/css" media="screen" />
<link href="~/Content/Styles/Home/UserImage.css" rel="stylesheet" />
<div id="itemModalImageContainer">
    <div class="modal-header">
        <div>
            <ul class="list img-list">
                <li>
                    <div>
                        <div class="inner">
                            <div class="li-img">
                                <div class="img imgComment"><img class="imgComment" data-bind="attr:{src: global.SelectedModalImage().Owner.Avatar}" src="/Content/Assets/Images/avatar.jpg" /></div>

                            </div>
                            <div class="li-text">
                                <h2 class="li-head"><span data-bind="text:global.SelectedModalImage().Owner.FirstName"></span></h2>
                                <div data-bind="text:global.SelectedModalImage().Name"></div>

                                @*<span class="msg-time momentComment">
                                    <i class="ace-icon fa fa-clock-o"></i>

                                </span>*@

                            </div>
                            <div class="li-summary">

                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            </div>
                        </div>
                    </div>

                </li>
            </ul>


        </div>







    </div>

    <div class="modal-body modalGallery">

        <div class="imgGallery" data-bind="foreach: global.SelectedModalImage().ItemImages">

            <img class="img-gallery" data-bind="attr:{src: Path}" />
            @*     @Html.Partial("_TradeTagPartial")
                <!-- ko if: $parent.TradeTag.length > 0 -->
                <div class="tags tagExchange" data-bind="foreach : $parent.ExchangeTag.split(' ')">
                    @Html.Partial("_ExchangeTagPartial")
                </div>
                <!-- /ko -->*@
        </div>




    </div>
    <div class="modal-footer">

        <div>
            <ul class="list img-list" data-bind="foreach: global.SelectedModalImage().ItemCommented">
                <li>
                    <div>
                        <div class="inner">
                            <div class="li-img">
                                <div class="img imgComment"><img class="imgComment" data-bind="attr:{src: Commenter.Avatar}" src="/Content/Assets/Images/avatar.jpg" /></div>
                            </div>
                            <div class="li-text">
                                <h2 class="li-head"><span data-bind="text:Commenter.FirstName"></span></h2>
                                <div data-bind="text:Comment"></div>

                                <span class="msg-time momentComment">
                                    <i class="ace-icon fa fa-clock-o"></i>
                                    about <span class="momentComment" data-bind="text:$root.ConvertMoment($data)"></span>
                                </span>

                            </div>

                        </div>
                    </div>
                    <hr>
                </li>
            </ul>


        </div>

    </div>

</div>
<script src="~/Scripts/jquery-ui-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.nerveSlider.min.js"></script>
<script src="~/Scripts/Home/ItemModalImage.js"></script>





