#itemModalImageContainer{
    display:none;
}
.modalGallery {
    text-align: center;
}

/*p {
    color: white !important;
}*/

.img {
    background: #b1a598;
    width: 70px;
    height: 70px;
    border-radius: 70px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,.6);
    z-index: 10;
}

.imgComment {
    height: 50px !important;
    width: 50px !important;
}

.txtComment {
    text-align: left;
}


.list li {
    display: table;
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.inner {
    display: table-row;
    overflow: hidden;
}

.li-img {
    display: table-cell;
    vertical-align: middle;
    
    padding-right: 1em;
}

    .li-img img {
        display: block;
        width: 100%;
        height: auto;
    }

.li-text {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    padding-right: 10px;
    text-align: left;
}

.li-head {
    margin: 0;
}


.momentComment {
    color: rgba(0,0,0,.4);
    font-size: 13px;
}


.commentRow{
    margin-bottom:100px;

}

.commentForm{

    width:30%;
    height:100px;
    max-width:500px !important;
}

.avatarAlign{
    vertical-align:top;
}

.button-right{

    text-align:right;
    width:30%;
    
}